## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['mat'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['por'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['geo'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['ing'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['his'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['fis'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['qui'])

df = pd.concat([df_mat,df_por,df_geo,df_ing,df_his,df_fis,df_qui], axis=1)

In [2]:
for g in ['mat']:
    df[g+'_p'] = df[g]/24
    for h in ['por']:
        df[h+'_p'] = df[h]/18
        for i in ['geo','ing','his']:
            df[i+'_p'] = df[i]/8
            for j in ['fis','qui']:
                df[j+'_p'] = df[j]/12

In [3]:
df

,mat,por,geo,ing,his,fis,qui,mat_p,por_p,geo_p,fis_p,qui_p,ing_p,his_p
0,6,7,7,3,1,8,3,0.250000,0.388889,0.875,0.666667,0.250000,0.375,0.125
1,19,10,0,0,0,11,8,0.791667,0.555556,0.000,0.916667,0.666667,0.000,0.000
2,14,16,0,5,7,4,4,0.583333,0.888889,0.000,0.333333,0.333333,0.625,0.875
3,10,7,3,4,0,0,8,0.416667,0.388889,0.375,0.000000,0.666667,0.500,0.000
4,7,2,2,7,0,9,3,0.291667,0.111111,0.250,0.750000,0.250000,0.875,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,6,4,7,1,4,9,3,0.250000,0.222222,0.875,0.750000,0.250000,0.125,0.500
96,8,1,4,6,1,4,3,0.333333,0.055556,0.500,0.333333,0.250000,0.750,0.125
97,23,5,0,2,4,1,5,0.958333,0.277778,0.000,0.083333,0.416667,0.250,0.500
98,0,10,3,1,5,10,11,0.000000,0.555556,0.375,0.833333,0.916667,0.125,0.625
99,11,15,0,1,6,7,2,0.458333,0.833333,0.000,0.583333,0.166667,0.125,0.750

In [4]:
df_total = df.iloc[:,0:6]
df_sum = df_total.sum(axis=1)
df_sum

0     32
1     40
2     46
3     24
4     27
      ..
95    31
96    24
97    35
98    29
99    40
Length: 100, dtype: int64

In [5]:
df_sum/90

0     0.355556
1     0.444444
2     0.511111
3     0.266667
4     0.300000
        ...
95    0.344444
96    0.266667
97    0.388889
98    0.322222
99    0.444444
Length: 100, dtype: float64

In [6]:
df_sum[df_sum > 45].count()

14

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [7]:
# seu código aqui
df_eliminados = df[(df['mat'] == 0) | 
                      (df['qui'] == 0) | 
                      (df['fis'] == 0)]

df_eliminados

,mat,por,geo,ing,his,fis,qui,mat_p,por_p,geo_p,fis_p,qui_p,ing_p,his_p
3,10,7,3,4,0,0,8,0.416667,0.388889,0.375,0.000000,0.666667,0.500,0.000
6,6,0,7,7,5,0,4,0.250000,0.000000,0.875,0.000000,0.333333,0.875,0.625
10,10,8,3,2,1,7,0,0.416667,0.444444,0.375,0.583333,0.000000,0.250,0.125
12,20,8,3,7,1,0,3,0.833333,0.444444,0.375,0.000000,0.250000,0.875,0.125
14,7,11,1,7,1,4,0,0.291667,0.611111,0.125,0.333333,0.000000,0.875,0.125
20,23,11,6,5,6,2,0,0.958333,0.611111,0.750,0.166667,0.000000,0.625,0.750
25,0,4,7,4,0,4,8,0.000000,0.222222,0.875,0.333333,0.666667,0.500,0.000
26,11,14,6,2,7,0,0,0.458333,0.777778,0.750,0.000000,0.000000,0.250,0.875
27,21,13,1,5,7,3,0,0.875000,0.722222,0.125,0.250000,0.000000,0.625,0.875
33,14,8,0,5,6,6,0,0.583333,0.444444,0.000,0.500000,0.000000,0.625,0.750
35,11,14,6,3,3,0,11,0.458333,0.777778,0.750,0.000000,0.916667,0.375,0.375
49,8,1,1,0,1,0,8,0.333333,0.055556,0.125,0.000000,0.666667,0.000,0.125
56,7,6,7,5,6,0,8,0.291667,0.333333,0.875,0.000000,0.666667,0.625,0.750
65,1,8,2,4,3,0,6,0.041667,0.444444,0.250,0.000000,0.500000,0.500,0.375
66,5,4,3,6,3,0,10,0.208333,0.222222,0.375,0.000000,0.833333,0.750,0.375
72,11,16,3,4,7,0,9,0.458333,0.888889,0.375,0.000000,0.750000,0.500,0.875
73,1,16,2,4,3,0,11,0.041667,0.888889,0.250,0.000000,0.916667,0.500,0.375
74,9,11,0,7,5,7,0,0.375000,0.611111,0.000,0.583333,0.000000,0.875,0.625
84,15,1,0,5,1,0,4,0.625000,0.055556,0.000,0.000000,0.333333,0.625,0.125
89,23,11,7,7,6,9,0,0.958333,0.611111,0.875,0.750000,0.000000,0.875,0.750
92,14,10,1,6,1,8,0,0.583333,0.555556,0.125,0.666667,0.000000,0.750,0.125
94,0,5,2,6,1,3,8,0.000000,0.277778,0.250,0.250000,0.666667,0.750,0.125
98,0,10,3,1,5,10,11,0.000000,0.555556,0.375,0.833333,0.916667,0.125,0.625

In [8]:
len(df_eliminados)

23

In [9]:
df_eliminados[['geo','his']].mean()

geo    3.217391
his    3.434783
dtype: float64

In [10]:
df_pass = (df[df_sum > 45]) 
aprove = (df_pass[(df_pass['mat'] != 0) & (df_pass['qui'] != 0) & (df_pass['fis'] != 0)])
aprove

,mat,por,geo,ing,his,fis,qui,mat_p,por_p,geo_p,fis_p,qui_p,ing_p,his_p
2,14,16,0,5,7,4,4,0.583333,0.888889,0.000,0.333333,0.333333,0.625,0.875
8,22,9,2,7,6,5,7,0.916667,0.500000,0.250,0.416667,0.583333,0.875,0.750
17,21,15,2,2,4,2,6,0.875000,0.833333,0.250,0.166667,0.500000,0.250,0.500
18,20,4,3,5,3,11,4,0.833333,0.222222,0.375,0.916667,0.333333,0.625,0.375
24,20,2,7,5,3,11,2,0.833333,0.111111,0.875,0.916667,0.166667,0.625,0.375
36,22,9,6,6,1,4,8,0.916667,0.500000,0.750,0.333333,0.666667,0.750,0.125
37,19,12,5,7,1,6,2,0.791667,0.666667,0.625,0.500000,0.166667,0.875,0.125
70,21,14,0,3,5,11,8,0.875000,0.777778,0.000,0.916667,0.666667,0.375,0.625
77,15,2,5,7,6,11,7,0.625000,0.111111,0.625,0.916667,0.583333,0.875,0.750
78,14,16,7,2,7,11,9,0.583333,0.888889,0.875,0.916667,0.750000,0.250,0.875
93,12,16,5,5,6,6,6,0.500000,0.888889,0.625,0.500000,0.500000,0.625,0.750

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [16]:
url = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-f98f8c93-1bb8-49d6-acd5-3561e299b555.c000.csv'

In [17]:
df = pd.read_csv(url,sep=';')

C:\Users\TM454YK\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\interactiveshell.py:3012: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [18]:
df.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,3bdb5bad-502e-456b-a82f-b14f68bba74a-i0b0,f42a169a00ca2b80fca407ec86a820b99db92f470e3de8...,68.0,1952-11-06,F,3.0,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,214VCD056W,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-06-29,2ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
1,7f486559-d6b7-4d8b-a9d2-956a62e9538e-i0b0,cc9c385df2340bbbbb69334ca277831c7d5c1788246497...,32.0,1988-11-16,M,4.0,AMARELA,120040.0,10.0,RIO BRANCO,...,6.0,Povos e Comunidades Tradicionais,218VCD254W,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-10-05,2ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
2,5b288824-407a-446b-b6b8-d9c6366eb888-i0b0,999feea6655c60bbeb85b1aa1e6bdf02e9a53084d35426...,36.0,1984-10-12,M,99.0,SEM INFORMACAO,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FF5107,PFIZER,Organization/00394544000851,2021-09-23,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
3,7f5723fc-55e6-4a69-a5ff-74a91e46dfe7-i0b0,ce06d200f9908c5daaf55755a1f4e51e26cc2acf992dfa...,19.0,2002-06-29,M,99.0,SEM INFORMACAO,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FF8848,PFIZER,Organization/28290,2022-01-27,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
4,b17fa69b-3bbe-42b8-838d-43909048c35b-i0b0,a61765be414fdace036a7e3f9f81dffd3e600fd6c19e74...,13.0,2008-04-06,F,3.0,PARDA,120020.0,10.0,CRUZEIRO DO SUL,...,114.0,Outros,FA9096,PFIZER,Organization/00394544000851,2021-07-31,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI

In [19]:
df.shape[0]

551367

In [20]:
df['paciente_id'].nunique()

416993

In [21]:
primeira_dose = df['vacina_descricao_dose'].unique()[2]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

93279

In [22]:
# 4) 
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

78131

In [23]:
# 5)
df['estabelecimento_razaoSocial'].nunique()

49

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [24]:
# 1) 
df_menor = df[df["paciente_idade"]<18].copy()

In [25]:
# 2) 
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [26]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

Faixa Etária                                      51774
Outros                                             6146
Povos Indígenas                                    2339
Povos e Comunidades Tradicionais                    577
Trabalhadores de Saúde                              395
População Privada de Liberdade                       69
Comorbidades                                         49
Gestantes                                            31
Pessoas com Deficiência                               3
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Trabalhadores da Educação                             1
Name: vacina_categoria_nome, dtype: int64

In [27]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]

In [28]:
# 5)
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(113, 6)